/* css for class css */

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.body-color {
  background-color: #F2F2F2;
  height: 100%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit]:hover {
  background-color: #6E6E6E;
}

/* css for vertical barre */

.title-menu-color {
  color: white;
}

/* make sidebar nav vertical */

.admin-text {
  color: #848484;
}

.login-barre {
  text-decoration: none;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar :hover {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* css for login page */

.login-div {
  height: 65vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./pictures/circleslogoskill.png')
}

.admin-title {
  color: #083B5A;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

body {
  padding: 2em;
}

.google-btn-login {
  border-radius: 16px 16px 16px 16px;
  border: none;
  color: #fff;
  font: bold 12px Verdana;
  padding: 12px 12px 12px 12px;
  width: 10%;
  height: 5%;
  margin-left: 2%;
  background-color: #F2F2F2;
}

.google-btn-register {
  border-radius: 16px 16px 16px 16px;
  border: none;
  color: #fff;
  font: bold 12px Verdana;
  padding: 12px 12px 12px 12px;
  width: 25%;
  height: 15%;
  margin-left: 3%;
  background-color: #F2F2F2;
}

.text-sign {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #F2F2F2;
}

.text-sign-in {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.margin-left {
  margin-left: 25px;
}

.text-name {
  color: #0a304e;
  font-display: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 700;
}

.text-name-title {
  color: #0a304e;
  font-display: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 700;
}

.text-search {
  color: #0a304e;
  font-display: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 500;
}

.title-admin {
  color: black;
  font-display: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.border-table {
  border: solid #F2F2F2;
  border-radius: 5px;
}

hr {
  color: #F2F2F2;
  background-color: #F2F2F2;
  height: 5px;
}

.top_margin {
  margin-top: 20%;
}

.skill-margin {
  margin-top: 7%;
}

.pull-right {
  float: right !important;
}

.underline-title {
  text-decoration: underline;
}

/* Pagination style */

.current-page {
  font-size: 1.5rem;
  vertical-align: middle;
}

ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul.pagination li.page-item.active a.page-link {
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important;
}

ul.pagination a.page-link {
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4;
  font-weight: 900;
  font-size: 0.5rem;
}

ul.pagination a.page-link:hover {
  background-color: #f4f4f4;
}

/* pagination style end */

/*css for action button table.skill */

.button-border {
  border: none;
  background: none;
}

.textErrors {
  color: #d9534f;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

.form-errors {
  margin-left: 2%;
}

.person-list {
  width: 100%;
}

.person-col {
  width: 70%;
}

.detail-level {
  width: 30%;
}

.admin-status {
  color: #848484;
}

.btn span.glyphicon {
  opacity: 0;
}

.btn.active span.glyphicon {
  opacity: 1;
}

.top-left {
  left: 50%;
}

.skill {
  width: 15%;
}

.description {
  width: 70%;
}

.level {
  width: 15%;
}

.action {
  width: 10%;
}

.list-skill-person {
  width: 40%;
}

.list-level-person {
  width: 30%;
}


.list-person-skill {
  width: 25%;
}
.list-person-level {
  width: 25%;
}
.list-person {
  width: 30%;
}

/** Css for search zone **/

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 2px solid #5bc0de;
  box-shadow: 0 2px 0 0 #5bc0de;
  border: 0px solid;
}

.active-cyan input[type=text] {
  border-bottom: 2px solid #5bc0de;
  box-shadow: 0 2px 0 0 #5bc0de;
  border: 0px solid;
}

.search-icon {
  left: 4%;
  margin-top: 0.7%;
}

li {
  list-style:none;
  color: #727272;
}

.headerFilter {
  width: 33%;
  height: 10%;
}
